includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: 10
	paths:
		- src
		- tests
	ignoreErrors:
		-
			# See: https://github.com/php-webdriver/php-webdriver/pull/1120
			message: '#^Parameter \#1 \$seconds of method Facebook\\WebDriver\\WebDriverTimeouts\:\:implicitlyWait\(\) expects int, float\|int given\.$#'
			identifier: argument.type
			count: 1
			path: src/WebdriverClassicDriver.php
		-
			# See: https://github.com/php-webdriver/php-webdriver/pull/1120
			message: '#^Parameter \#1 \$seconds of method Facebook\\WebDriver\\WebDriverTimeouts\:\:pageLoadTimeout\(\) expects int, float\|int given\.$#'
			identifier: argument.type
			count: 1
			path: src/WebdriverClassicDriver.php
		-
			# See: https://github.com/php-webdriver/php-webdriver/pull/1120
			message: '#^Parameter \#1 \$seconds of method Facebook\\WebDriver\\WebDriverTimeouts\:\:setScriptTimeout\(\) expects int, float\|int given\.$#'
			identifier: argument.type
			count: 1
			path: src/WebdriverClassicDriver.php
		-
			message: '#^Method Mink\\WebdriverClassicDriver\\WebdriverClassicDriver\:\:getWindowHandleFromName\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/WebdriverClassicDriver.php
		-
			message: '#^Parameter \#1 \$handle of method Facebook\\WebDriver\\WebDriverTargetLocator\:\:window\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/WebdriverClassicDriver.php
		-
			# See https://github.com/php-webdriver/php-webdriver/blob/998e499b786805568deaf8cbf06f4044f05d91bf/lib/WebDriverElement.php#L43
			message: '#^Call to an undefined method Facebook\\WebDriver\\Internal\\WebDriverLocatable\&Facebook\\WebDriver\\WebDriverElement\:\:getDomProperty\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/WebdriverClassicDriver.php
