parameters:
    level: 10
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    stubFiles:
        - stubs/DesiredCapabilities.stub
        - stubs/RemoteWebDriver.stub
        - stubs/WebDriverTimeouts.stub

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
