<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         colors="true">
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Driver test suite">
            <directory>tests</directory>
            <directory>vendor/mink/driver-testsuite/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="driver_config_factory" value="Mink\WebdriverClassDriver\Tests\WebdriverClassicConfig::getInstance"/>

        <server name="WEB_FIXTURES_HOST" value="http://host.docker.internal:8002"/>
        <!-- MacOS -->
        <!--<server name="WEB_FIXTURES_HOST" value="http://docker.for.mac.localhost:8002"/>-->

        <!-- where driver will connect to -->
        <server name="DRIVER_URL" value="http://localhost:4444/wd/hub"/>

        <!-- where DocumentRoot of 'Test Machine' is mounted to on 'Driver Machine' (only if these are 2 different machines) -->
        <server name="DRIVER_MACHINE_BASE_PATH" value="/fixtures/"/>
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
